:root {
    --base: #2D2D2D;
    --accent: #3762bf;
    --accent-transparent: rgba(55,98,191,0.9);
    --accent-lt: #f2f2f2;
    --accent-dk: #818181;
    --rounded-corner: 30px;
    
}

body {
    font-family: 'Inter', sans-serif;
}

.card {
    display: flex;
    border-radius: var(--rounded-corner);
    background: var(--base);
    max-width: 30%;
    flex-direction: column;
}

.header {
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25); 
    position: relative;
    border-radius: var(--rounded-corner);
}

.material-icons {
    font-size: 24px;
    padding-right: 1.5rem;
    color: var(--accent-lt);
}


.play {
    border-radius: var(--rounded-corner);
    background: var(--accent-transparent);
    padding:1rem;
    position: absolute;
    left: 2.5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    transition: 0.15s;
}

.play:hover {
    background: var(--accent);
}

.play > span:nth-child(2) {
    color: var(--accent-lt);
    font-weight: 300;
    padding-right: 0.5rem;
}

.play > span:nth-child(3) {
    color: var(--accent-lt);
    font-weight: 700;
}

.thumbnail {
    border-radius: var(--rounded-corner);
    
}

.info {
    padding: 1.5rem;
}

.info > p:nth-child(2) {
    font-weight: regular;
    color: var(--accent-lt);
}

.info > div:first-child {
    font-weight: light;
    color: var(--accent-dk);
    width:50%;
    display:flex;
    padding-top: 0.5rem;
    justify-content:space-evenly;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}